<div class="footer-bottom">
  <div class="container main-footer">
    <div class="row">
      <div class="col-xs-12">
        <div class="copyright">
          © 2015, Webenlance, All rights reserved
        </div>
      </div>
  </div>
</div>