<div class="navbar navbar-inverse navbar-fixed-bottom main-footer">
  <div class="container text-center">
    <div class="copyright">
      © 2015, Webenlance, All rights reserved
    </div>
  </div>
</div>