
<div class="container"> 
  <div class="row">
    <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div id="title-address">
          <h1>Address Book</h1>
          <%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary' %><br>
          <%= paginate @contacts %>
        </div>
        <%= render 'contact', contacts: @contacts %>
        <br>
      </div>
    <div class="col-xs-3"></div>
  </div> 
</div>