@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";

.contact-list {
  padding: 20px 20px 20px 20px;
  background: #6a9ced;
}

body {
  background: #e8ecf2;

}

#title-address {
  margin-bottom: 25px;
  text-align: center;
  margin-left: 30px;
}

#name-header {
  margin-top: 15px;
  color: white;
}

.navbar-right {
  text-align: right;
}
