@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";

body {
  background: #abb7cc;

}

/*styles for index page*/

.contact-list {
  padding: 20px 20px 20px 20px;
  background: #6a9ced;
}

#title-address {
  margin-bottom: 25px;
  text-align: center;
  margin-left: 30px;
}

/*navbar styles*/

#name-header {
  margin-top: 15px;
  color: white;
}

.navbar-right {
  text-align: right;
}

/*footer styles*/

.main-footer {
  background: #333333;
  padding: 20px 20px 20px 20px;
  color: #9d9d9d;
  border-radius: 5px;
  text-align: center;
}

/*registration signup and edit page styles*/

.register-form {
  background: #9d9d9d;
  padding: 20px 20px 20px 20px;
  margin-bottom: 25px;
  border-radius: 5px;
  margin-right: 5px;
}

/*Index page styles*/

.paginate {
  margin-left: 25px;
}