@import "bootstrap";
@import "gritter";

.contact-list {
  padding: 20px 20px 20px 20px;
  background: #6a9ced;
}

body {
  background: #e8ecf2;

}

#title-address {
  margin-bottom: 25px;
  text-align: center;
}
